In [6]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series = pd.Series(my_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df1 = pd.DataFrame(data)

# Print the DataFrame
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

==> Data Frame:
    A DataFrame in pandas is a 2-dimensional, tabular data structure that consists of rows and columns, similar to a spreadsheet or SQL table. It can store data of different types (integers, strings, floats, etc.) in different columns.
    
    Series:
    A Series is a 1-dimensional labeled array, which can hold any data type. It’s essentially a single column of data.

In [9]:
#Example:
import pandas as pd

#Series
s = pd.Series([10, 20, 30])
print("Series:")
print(s)

#DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
})
print("\nDataFrame:")
print(df)

Series:
0    10
1    20
2    30
dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

==> df.head(n):
	Returns the first n rows of the DataFrame (default is 5). Useful to preview data.

    df.tail(n):
	Returns the last n rows of the DataFrame.

    df.info():
	Provides a concise summary of the DataFrame (column names, data types, non-null counts).

    df.dtypes:
	Shows data types of each column.

    df.columns:
	Lists all column names.

In [10]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva', 'Frank'],
    'Age': [25, 30, 27, 22, 29, 35],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male']
})

# View the first 3 rows
print("Head (First 3 rows):")
print(df.head(3))

# View the last 2 rows
print("\nTail (Last 2 rows):")
print(df.tail(2))

Head (First 3 rows):
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Tail (Last 2 rows):
    Name  Age  Gender
4    Eva   29  Female
5  Frank   35    Male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, all three of these container types are mutable—you can change their contents in place

#Series:
You can update individual elements.

#DataFrame
You can add/drop columns or modify cells.

#Panel:
Panels were also mutable—you could reassign slices or elements.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd

# Create two Series
names = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
ages  = pd.Series([25, 30, 27],          name='Age')

#DataFrame
df = pd.DataFrame({ 'Name': names,
                    'Age' : ages })

print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27